{% extends "base.html" %}
<!-- File application-index.html generated 2018-07-15T19:59:46.651Z by adl.to-selmer-templates.
See [Application Description Language](https://github.com/simon-brooke/adl).-->


{% block content %}
<dl class='index'>
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dt>
<a href='{{servlet-context}}/list-addresses-Addresses'>
Address
</a>
</dt>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dd>
<p>
Addresses of all buildings which contain
    dwellings.
</p>
</dd>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dt>
<a href='{{servlet-context}}/list-authorities-Authorities'>
Authority
</a>
</dt>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dd>
<p>
Authorities which may authenticate canvassers to
    the system.
</p>
</dd>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dt>
<a href='{{servlet-context}}/list-canvassers-Canvassers'>
Canvasser
</a>
</dt>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dd>
<p>
Primary users of the system: those actually
    interviewing electors.
</p>
</dd>
{% endifmemberof %}
{% ifmemberof public admin canvassers teamorganisers issueexperts analysts issueeditors %}
<dt>
<a href='{{servlet-context}}/list-districts-Districts'>
District
</a>
</dt>
{% endifmemberof %}
{% ifmemberof public admin canvassers teamorganisers issueexperts analysts issueeditors %}
<dd>
<p>
Electoral districts: TODO: Shape (polygon)
    information will need to be added, for use in
    maps.
</p>
</dd>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dt>
<a href='{{servlet-context}}/list-dwellings-Dwellings'>
Dwelling
</a>
</dt>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dd>
<p>
All dwellings within addresses in the system; a
    dwelling is a house, flat or appartment in which electors live.
    Every address should have at least one dwelling; essentially,
    an address maps onto a street door and dwellings map onto
    what's behind that door. So a tenement or a block of flats
    would be one address with many dwellings.
</p>
</dd>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dt>
<a href='{{servlet-context}}/list-electors-Electors'>
Elector
</a>
</dt>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dd>
<p>
All electors known to the system; electors are
    people believed to be entitled to vote in the current
    campaign.
</p>
</dd>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dt>
<a href='{{servlet-context}}/list-events-Events'>
Event
</a>
</dt>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dd>
<p>

      An event to which a team or teams are invited. Typically created by the team organiser(s).
      May be a training event, a social event or a canvassing session.
    
</p>
</dd>
{% endifmemberof %}
{% ifmemberof issueexperts canvassers analysts issueeditors admin %}
<dt>
<a href='{{servlet-context}}/list-followupactions-Followupactions'>
Followupaction
</a>
</dt>
{% endifmemberof %}
{% ifmemberof issueexperts canvassers analysts issueeditors admin %}
<dd>
<p>
Actions taken on followup
    requests.
</p>
</dd>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dt>
<a href='{{servlet-context}}/list-followupmethods-Followupmethods'>
Followupmethod
</a>
</dt>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dd>
<p>
Methods which may be used to follow up a followup request. Reference data.
</p>
</dd>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dt>
<a href='{{servlet-context}}/list-followuprequests-Followuprequests'>
Followuprequest
</a>
</dt>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dd>
<p>
Requests for a followup with an issue
    expert
</p>
</dd>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dt>
<a href='{{servlet-context}}/list-genders-Genders'>
Gender
</a>
</dt>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dd>
<p>
All genders which may be assigned to
    electors.
</p>
</dd>
{% endifmemberof %}
{% ifmemberof canvassers analysts admin %}
<dt>
<a href='{{servlet-context}}/list-intentions-Intentions'>
Intention
</a>
</dt>
{% endifmemberof %}
{% ifmemberof canvassers analysts admin %}
<dd>
<p>
Intentions of electors to vote for options
    elicited in visits.
</p>
</dd>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dt>
<a href='{{servlet-context}}/list-issues-Issues'>
Issue
</a>
</dt>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dd>
<p>
Issues believed to be of interest to electors,
    about which they may have questions.
</p>
</dd>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dt>
<a href='{{servlet-context}}/list-options-Options'>
Option
</a>
</dt>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dd>
<p>
Options in the election or referendum being
    canvassed on
</p>
</dd>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dt>
<a href='{{servlet-context}}/list-roles-Roles'>
Role
</a>
</dt>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<dd>
<p>
A role (essentially, the same as a group, but
    application layer rather than database layer) of which a user
    may be a member.
</p>
</dd>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin teamorganisers admin %}
<dt>
<a href='{{servlet-context}}/list-teams-Teams'>
Team
</a>
</dt>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin teamorganisers admin %}
<dd>
</dd>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin canvassers teamorganisers admin %}
<dt>
<a href='{{servlet-context}}/list-visits-Visits'>
Visit
</a>
</dt>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin canvassers teamorganisers admin %}
<dd>
<p>
All visits made by canvassers to dwellings in
    which opinions were recorded.
</p>
</dd>
{% endifmemberof %}
</dl>

{% endblock %}
