{% extends "base.html" %}
<!-- File application-index.html generated 2018-06-30T11:36:00.890Z by adl.to-selmer-templates.
See [Application Description Language](https://github.com/simon-brooke/adl).-->
{% block head %}
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>

<meta content='width=device-width, initial-scale=1' name='viewport'/>

<link href='css/yyy-common.css' type='text/css' rel='stylesheet'/>

<link href='css/yyy-site.css' type='text/css' rel='stylesheet'/>

<link href='css/spinner.css' type='text/css' rel='stylesheet'/>

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Archivo+Black|Archivo+Narrow'/>

<title>
{{site-title}}: {{title}}
</title>

{% endblock %}

{% block content %}
<dl class='index'>
<dt>
<a href='list-addresses-Addresses'>
Address
</a>
</dt>
<dd>
<p>
Addresses of all buildings which contain dwellings.
</p>
</dd>
<dt>
<a href='list-authorities-Authorities'>
Authority
</a>
</dt>
<dd>
<p>
Authorities which may authenticate canvassers to the system.
</p>
</dd>
<dt>
<a href='list-canvassers-Canvassers'>
Canvasser
</a>
</dt>
<dd>
<p>
Primary users of the system: those actually interviewing electors.
</p>
</dd>
<dt>
<a href='list-districts-Districts'>
District
</a>
</dt>
<dd>
<p>
Electoral districts: TODO: Shape (polygon) information will need to be added, for use in maps.
</p>
</dd>
<dt>
<a href='list-dwellings-Dwellings'>
Dwelling
</a>
</dt>
<dd>
<p>
All dwellings within addresses in the system; a dwelling is a
      house, flat or appartment in which electors live. Every address should have
      at least one dwelling; essentially, an address maps onto a street door and
      dwellings map onto what's behind that door. So a tenement or a block of flats
      would be one address with many dwellings.
    
</p>
</dd>
<dt>
<a href='list-electors-Electors'>
Elector
</a>
</dt>
<dd>
<p>
All electors known to the system; electors are people believed to be entitled to vote in the current campaign.
</p>
</dd>
<dt>
<a href='list-followupactions-Followupactions'>
Followupaction
</a>
</dt>
<dd>
<p>
Actions taken on followup requests.
</p>
</dd>
<dt>
<a href='list-followupmethods-Followupmethods'>
Followupmethod
</a>
</dt>
<dd>
</dd>
<dt>
<a href='list-followuprequests-Followuprequests'>
Followuprequest
</a>
</dt>
<dd>
<p>
Requests for a followup with an issue expert
</p>
</dd>
<dt>
<a href='list-genders-Genders'>
Gender
</a>
</dt>
<dd>
<p>
All genders which may be assigned to electors.
</p>
</dd>
<dt>
<a href='list-intentions-Intentions'>
Intention
</a>
</dt>
<dd>
<p>
Intentions of electors to vote for options elicited in visits.
</p>
</dd>
<dt>
<a href='list-issues-Issues'>
Issue
</a>
</dt>
<dd>
<p>
Issues believed to be of interest to electors, about which they may have questions.
</p>
</dd>
<dt>
<a href='list-options-Options'>
Option
</a>
</dt>
<dd>
<p>
Options in the election or referendum being canvassed on
</p>
</dd>
<dt>
<a href='list-roles-Roles'>
Role
</a>
</dt>
<dd>
<p>
A role (essentially, the same as a group, but application layer rather than database layer) of which a user may be a member.
</p>
</dd>
<dt>
<a href='list-teams-Teams'>
Team
</a>
</dt>
<dd>
</dd>
<dt>
<a href='list-visits-Visits'>
Visit
</a>
</dt>
<dd>
<p>
All visits made by canvassers to dwellings in which opinions were recorded.
</p>
</dd>
</dl>

{% endblock %}
{% block foot %}
<footer>
<div id='credits'>
<div>
<img height='24' width='24' src='img/credits/ric-logo.png'/>

            A project of the
            
<a href='https://radical.scot/'>
Radical Independence Campaign
</a>
 ||
            Version {{version}}
          
</div>
<div>
<img src='img/credits/luminus-logo.png' alt='Clojure' width='16' height='16'/>
Built with 
<a href='http://www.luminusweb.net/'>
LuminusWeb
</a>
 ||
            
<img src='img/credits/clojure-icon.gif' alt='Clojure' width='16' height='16'/>
 Powered by 
<a href='http://clojure.org'>
Clojure
</a>
 ||
            
<img src='img/credits/github-logo-transparent.png' alt='GitHub' width='16' height='16'/>
Find me/fork me on 
<a href='https://github.com/simon-brooke/smeagol'>
Github
</a>
 ||
            
<img src='img/credits/gnu.small.png' alt='Free Software Foundation' width='16' height='16'/>
Licensed under the 
<a href='http://www.gnu.org/licenses/gpl-2.0.html'>
GNU General Public License version 2.0
</a>
</div>
</div>
</footer>

{% endblock %}