{% extends "base.html" %}
<!-- File form-canvassers-Canvasser.html generated 2018-07-10T15:25:24.210Z by adl.to-selmer-templates.
See [Application Description Language](https://github.com/simon-brooke/adl).-->


{% block extra-head %}

           {% script "js/lib/node_modules/simplemde/dist/simplemde.min.js" %}
           {% style "js/lib/node_modules/simplemde/dist/simplemde.min.css" %}
           {% script "/js/lib/node_modules/selectize/dist/js/standalone/selectize.min.js" %}
           {% style "/js/lib/node_modules/selectize/dist/css/selectize.css" %}
{% endblock %}
{% block content %}
<div id='content' class='edit'>
<form action='{{servlet-context}}/form-canvassers-Canvasser' method='POST'>
{% csrf-field %}
<input id='id' name='id' type='hidden' value='{{record.id}}'/>
<p class='widget'>
<label for='username'>
Username
</label>
{% if {{record.username}} %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<input id='username' name='username' type='string' value='{{record.username}}' maxlength='32' size='32'/>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='username' name='username' class='pseudo-widget disabled'>
{{record.username}}
</span>
{% else %}
<span id='username' name='username' class='pseudo-widget not-authorised'>
You are not permitted to view username of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<input id='username' name='username' type='string' value='{{record.username}}' maxlength='32' size='32'/>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='username' name='username' class='pseudo-widget disabled'>
{{record.username}}
</span>
{% else %}
<span id='username' name='username' class='pseudo-widget not-authorised'>
You are not permitted to view username of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% endif %}
</p>
<p class='widget'>
<label for='fullname'>
Fullname
</label>
{% if {{record.fullname}} %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<input id='fullname' name='fullname' type='string' value='{{record.fullname}}' maxlength='64' size='60'/>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='fullname' name='fullname' class='pseudo-widget disabled'>
{{record.fullname}}
</span>
{% else %}
<span id='fullname' name='fullname' class='pseudo-widget not-authorised'>
You are not permitted to view fullname of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<input id='fullname' name='fullname' type='string' value='{{record.fullname}}' maxlength='64' size='60'/>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='fullname' name='fullname' class='pseudo-widget disabled'>
{{record.fullname}}
</span>
{% else %}
<span id='fullname' name='fullname' class='pseudo-widget not-authorised'>
You are not permitted to view fullname of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% endif %}
</p>
<p class='widget'>
<label for='avatar'>
Avatar
</label>
{% if {{record.avatar}} %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<input id='avatar' name='avatar' type='file' value='{{record.avatar}}' maxlength='' size='16'/>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='avatar' name='avatar' class='pseudo-widget disabled'>
{{record.avatar}}
</span>
{% else %}
<span id='avatar' name='avatar' class='pseudo-widget not-authorised'>
You are not permitted to view avatar of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<input id='avatar' name='avatar' type='file' value='{{record.avatar}}' maxlength='' size='16'/>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='avatar' name='avatar' class='pseudo-widget disabled'>
{{record.avatar}}
</span>
{% else %}
<span id='avatar' name='avatar' class='pseudo-widget not-authorised'>
You are not permitted to view avatar of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% endif %}
</p>
<p class='widget'>
<label for='bio'>
Bio
</label>
{% if {{record.bio}} %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<textarea rows='8' cols='60' id='bio' name='bio'>
{{record.bio}}
</textarea>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='bio' name='bio' class='pseudo-widget disabled'>
{{record.bio}}
</span>
{% else %}
<span id='bio' name='bio' class='pseudo-widget not-authorised'>
You are not permitted to view bio of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<textarea rows='8' cols='60' id='bio' name='bio'>
{{record.bio}}
</textarea>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='bio' name='bio' class='pseudo-widget disabled'>
{{record.bio}}
</span>
{% else %}
<span id='bio' name='bio' class='pseudo-widget not-authorised'>
You are not permitted to view bio of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% endif %}
</p>
<p class='widget'>
<label for='elector_id'>
Elector_id
</label>
{% if {{record.elector_id}} %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<select id='elector_id' name='elector_id'>
{% for option in elector_id %}<option value='{{option.id}}' {% ifequal record.elector_id option.id%}selected{% endifequal %}>{{option.name}}</option>{% endfor %}
</select>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='elector_id' name='elector_id' class='pseudo-widget disabled'>
{{record.elector_id}}
</span>
{% else %}
<span id='elector_id' name='elector_id' class='pseudo-widget not-authorised'>
You are not permitted to view elector_id of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<select id='elector_id' name='elector_id'>
{% for option in elector_id %}<option value='{{option.id}}' {% ifequal record.elector_id option.id%}selected{% endifequal %}>{{option.name}}</option>{% endfor %}
</select>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='elector_id' name='elector_id' class='pseudo-widget disabled'>
{{record.elector_id}}
</span>
{% else %}
<span id='elector_id' name='elector_id' class='pseudo-widget not-authorised'>
You are not permitted to view elector_id of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% endif %}
</p>
<p class='widget'>
<label for='address_id'>
Address_id
</label>
{% if {{record.address_id}} %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<select id='address_id' name='address_id'>
{% for option in address_id %}<option value='{{option.id}}' {% ifequal record.address_id option.id%}selected{% endifequal %}>{{option.address}} {{option.postcode}}</option>{% endfor %}
</select>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='address_id' name='address_id' class='pseudo-widget disabled'>
{{record.address_id}}
</span>
{% else %}
<span id='address_id' name='address_id' class='pseudo-widget not-authorised'>
You are not permitted to view address_id of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<select id='address_id' name='address_id'>
{% for option in address_id %}<option value='{{option.id}}' {% ifequal record.address_id option.id%}selected{% endifequal %}>{{option.address}} {{option.postcode}}</option>{% endfor %}
</select>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='address_id' name='address_id' class='pseudo-widget disabled'>
{{record.address_id}}
</span>
{% else %}
<span id='address_id' name='address_id' class='pseudo-widget not-authorised'>
You are not permitted to view address_id of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% endif %}
</p>
<p class='widget'>
<label for='phone'>
Phone
</label>
{% if {{record.phone}} %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<input id='phone' name='phone' type='string' value='{{record.phone}}' maxlength='16' size='16'/>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='phone' name='phone' class='pseudo-widget disabled'>
{{record.phone}}
</span>
{% else %}
<span id='phone' name='phone' class='pseudo-widget not-authorised'>
You are not permitted to view phone of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<input id='phone' name='phone' type='string' value='{{record.phone}}' maxlength='16' size='16'/>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='phone' name='phone' class='pseudo-widget disabled'>
{{record.phone}}
</span>
{% else %}
<span id='phone' name='phone' class='pseudo-widget not-authorised'>
You are not permitted to view phone of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% endif %}
</p>
<p class='widget'>
<label for='email'>
Email
</label>
{% if {{record.email}} %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<input id='email' name='email' type='string' value='{{record.email}}' maxlength='128' size='60'/>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='email' name='email' class='pseudo-widget disabled'>
{{record.email}}
</span>
{% else %}
<span id='email' name='email' class='pseudo-widget not-authorised'>
You are not permitted to view email of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<input id='email' name='email' type='string' value='{{record.email}}' maxlength='128' size='60'/>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='email' name='email' class='pseudo-widget disabled'>
{{record.email}}
</span>
{% else %}
<span id='email' name='email' class='pseudo-widget not-authorised'>
You are not permitted to view email of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% endif %}
</p>
<p class='widget'>
<label for='authority_id'>
Authority_id
</label>
{% if {{record.authority_id}} %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<select id='authority_id' name='authority_id'>
{% for option in authority_id %}<option value='{{option.id}}' {% ifequal record.authority_id option.id%}selected{% endifequal %}>{{option.id}}</option>{% endfor %}
</select>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='authority_id' name='authority_id' class='pseudo-widget disabled'>
{{record.authority_id}}
</span>
{% else %}
<span id='authority_id' name='authority_id' class='pseudo-widget not-authorised'>
You are not permitted to view authority_id of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<select id='authority_id' name='authority_id'>
{% for option in authority_id %}<option value='{{option.id}}' {% ifequal record.authority_id option.id%}selected{% endifequal %}>{{option.id}}</option>{% endfor %}
</select>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='authority_id' name='authority_id' class='pseudo-widget disabled'>
{{record.authority_id}}
</span>
{% else %}
<span id='authority_id' name='authority_id' class='pseudo-widget not-authorised'>
You are not permitted to view authority_id of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% endif %}
</p>
<p class='widget'>
<label for='authorised'>
Authorised
</label>
{% if {{record.authorised}} %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<input id='authorised' name='authorised' type='checkbox' value='{{record.authorised}}' maxlength='' size='16'/>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='authorised' name='authorised' class='pseudo-widget disabled'>
{{record.authorised}}
</span>
{% else %}
<span id='authorised' name='authorised' class='pseudo-widget not-authorised'>
You are not permitted to view authorised of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<input id='authorised' name='authorised' type='checkbox' value='{{record.authorised}}' maxlength='' size='16'/>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='authorised' name='authorised' class='pseudo-widget disabled'>
{{record.authorised}}
</span>
{% else %}
<span id='authorised' name='authorised' class='pseudo-widget not-authorised'>
You are not permitted to view authorised of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% endif %}
</p>
<p class='widget'>
<label for='roles'>
Roles
</label>
{% if {{record.roles}} %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<select id='roles' name='roles' multiple='multiple'>
{% for option in roles %}<option value='{{option.role_id}}' {% ifequal record.roles option.role_id%}selected{% endifequal %}>{{option.name}}</option>{% endfor %}
</select>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='roles' name='roles' class='pseudo-widget disabled'>
{{record.roles}}
</span>
{% else %}
<span id='roles' name='roles' class='pseudo-widget not-authorised'>
You are not permitted to view roles of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<select id='roles' name='roles' multiple='multiple'>
{% for option in roles %}<option value='{{option.role_id}}' {% ifequal record.roles option.role_id%}selected{% endifequal %}>{{option.name}}</option>{% endfor %}
</select>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='roles' name='roles' class='pseudo-widget disabled'>
{{record.roles}}
</span>
{% else %}
<span id='roles' name='roles' class='pseudo-widget not-authorised'>
You are not permitted to view roles of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
{% endif %}
</p>
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<p class='widget action-safe'>
<label for='save-button' class='action-safe'>
To save this canvassers record
</label>
<input id='save-button' name='save-button' class='action-safe' type='submit' value='Save!'/>
</p>
{% endifmemberof %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<p class='widget action-dangerous'>
<label for='delete-button' class='action-dangerous'>
To delete this canvassers record
</label>
<input id='delete-button' name='delete-button' class='action-dangerous' type='submit' value='Delete!'/>
</p>
{% endifmemberof %}
</form>
</div>

{% endblock %}
{% block extra-tail %}
<script type='text/javascript'>
/**
 * selectize one select widget. Substitute the actual id of the widget for `elector_id`.
 */
$('#elector_id').selectize({
  valueField: 'id',
  labelField: 'name',
  searchField: 'name',
  options: [],
  create: false,

  load: function(query, callback) {
    console.log('Desperately seeking ' + query);
    if (query === null || !query.length) return callback();
    $.ajax({
      url: '/json/auto/search-strings-electors?name=' + query,
      type: 'GET',
      dataType: 'jsonp',
      error: function() {
        console.log( 'Query ' + query + ' failed.');
        callback();
      },
      success: function(res) {
        console.log('Received ' + res + ' records for ' + query);
        callback(res);
      }
    });
  }
});

/**
 * selectize one select widget. Substitute the actual id of the widget for `address_id`.
 */
$('#address_id').selectize({
  valueField: 'id',
  labelField: 'name',
  searchField: 'name',
  options: [],
  create: false,

  load: function(query, callback) {
    console.log('Desperately seeking ' + query);
    if (query === null || !query.length) return callback();
    $.ajax({
      url: '/json/auto/search-strings-electors?name=' + query,
      type: 'GET',
      dataType: 'jsonp',
      error: function() {
        console.log( 'Query ' + query + ' failed.');
        callback();
      },
      success: function(res) {
        console.log('Received ' + res + ' records for ' + query);
        callback(res);
      }
    });
  }
});

          var simplemde = new SimpleMDE({
            autosave: {
              enabled: true,
              uniqueId: "Smeagol-{{page}}",
              delay: 1000,
            },
            indentWithTabs: true,
            insertTexts: {
              horizontalRule: ["", "\n\n-----\n\n"],
              image: ["![](http://", ")"],
              link: ["[", "](http://)"],
              table: ["", "\n\n| Column 1 | Column 2 | Column 3 |\n| -------- | -------- | -------- |\n| Text     | Text      | Text     |\n\n"],
            },
            showIcons: ["code"], //, "table"], - sadly, markdown-clj does not support tables
	          spellChecker: true,
	          status: ["autosave", "lines", "words", "cursor"]
          });

</script>

{% endblock %}
