{% extends "base.html" %}
<!-- File form-canvassers-Canvasser.html generated 2018-06-19T18:51:51.720Z by adl.to-selmer-templates.
See [Application Description Language](https://github.com/simon-brooke/adl).-->
{% block head %}
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>

<meta content='width=device-width, initial-scale=1' name='viewport'/>

<link href='css/yyy-common.css' type='text/css' rel='stylesheet'/>

<link href='css/yyy-site.css' type='text/css' rel='stylesheet'/>

<link href='css/spinner.css' type='text/css' rel='stylesheet'/>

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Archivo+Black|Archivo+Narrow'/>

<title>
{{site-title}}: {{title}}
</title>

{% endblock %}

{% block content %}
<div id='content' class='edit'>
<form action='{{servlet-context}}/form-canvassers-Canvasser' method='POST'>
{% csrf-field %}
<p class='widget'>
<label for='id'>
id
</label>
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<input id='id' name='id' type='text' value='{{record.id}}'/>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='id' name='id' class='pseudo-widget disabled'>
{{record.id}}
</span>
{% else %}
<span id='id' name='id' class='pseudo-widget not-authorised'>
You are not permitted to view id of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
</p>
<p class='widget'>
<label for='username'>
username
</label>
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<input id='username' name='username' type='text' value='{{record.username}}'/>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='username' name='username' class='pseudo-widget disabled'>
{{record.username}}
</span>
{% else %}
<span id='username' name='username' class='pseudo-widget not-authorised'>
You are not permitted to view username of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
</p>
<p class='widget'>
<label for='fullname'>
fullname
</label>
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<input id='fullname' name='fullname' type='text' value='{{record.fullname}}'/>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='fullname' name='fullname' class='pseudo-widget disabled'>
{{record.fullname}}
</span>
{% else %}
<span id='fullname' name='fullname' class='pseudo-widget not-authorised'>
You are not permitted to view fullname of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
</p>
<p class='widget'>
<label for='elector_id'>
elector_id
</label>
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<div class='select-box' farside='electors' found='true'>
<input name='elector_id-search-box' onchange='/* javascript to repopulate the select widget */'/>
<select id='elector_id' name='elector_id' comment='JavaScript stuff to fix up aynchronous loading'>
{% for record in electors %}<option value='{{record.id}}'>{{record.name}} {{record.phone}} {{record.email}} {{record.gender}}</option>{% endfor %}
</select>
</div>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='elector_id' name='elector_id' class='pseudo-widget disabled'>
{{record.elector_id}}
</span>
{% else %}
<span id='elector_id' name='elector_id' class='pseudo-widget not-authorised'>
You are not permitted to view elector_id of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
</p>
<p class='widget'>
<label for='address_id'>
address_id
</label>
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<div class='select-box' farside='addresses' found='true'>
<input name='address_id-search-box' onchange='/* javascript to repopulate the select widget */'/>
<select id='address_id' name='address_id' comment='JavaScript stuff to fix up aynchronous loading'>
{% for record in addresses %}<option value='{{record.id}}'>{{record.address}} {{record.postcode}}</option>{% endfor %}
</select>
</div>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='address_id' name='address_id' class='pseudo-widget disabled'>
{{record.address_id}}
</span>
{% else %}
<span id='address_id' name='address_id' class='pseudo-widget not-authorised'>
You are not permitted to view address_id of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
</p>
<p class='widget'>
<label for='phone'>
phone
</label>
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<input id='phone' name='phone' type='text' value='{{record.phone}}'/>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='phone' name='phone' class='pseudo-widget disabled'>
{{record.phone}}
</span>
{% else %}
<span id='phone' name='phone' class='pseudo-widget not-authorised'>
You are not permitted to view phone of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
</p>
<p class='widget'>
<label for='email'>
email
</label>
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<input id='email' name='email' type='text' value='{{record.email}}'/>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='email' name='email' class='pseudo-widget disabled'>
{{record.email}}
</span>
{% else %}
<span id='email' name='email' class='pseudo-widget not-authorised'>
You are not permitted to view email of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
</p>
<p class='widget'>
<label for='authority_id'>
authority_id
</label>
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<div class='select-box' farside='authorities' found='true'>
<input name='authority_id-search-box' onchange='/* javascript to repopulate the select widget */'/>
<select id='authority_id' name='authority_id' comment='JavaScript stuff to fix up aynchronous loading'>
{% for record in authorities %}<option value='{{record.id}}'>{{record.id}}</option>{% endfor %}
</select>
</div>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='authority_id' name='authority_id' class='pseudo-widget disabled'>
{{record.authority_id}}
</span>
{% else %}
<span id='authority_id' name='authority_id' class='pseudo-widget not-authorised'>
You are not permitted to view authority_id of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
</p>
<p class='widget'>
<label for='authorised'>
authorised
</label>
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<input id='authorised' name='authorised' type='checkbox' value='{{record.authorised}}'/>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='authorised' name='authorised' class='pseudo-widget disabled'>
{{record.authorised}}
</span>
{% else %}
<span id='authorised' name='authorised' class='pseudo-widget not-authorised'>
You are not permitted to view authorised of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
</p>
<p class='widget'>
<label for='roles'>
roles
</label>
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers admin %}
<div class='select-box' farside='roles' found='true'>
<select id='roles' name='roles' multiple='multiple'>
{% for record in roles %}<option value='{{record.role_id}}'>{{record.name}}</option>{% endfor %}
</select>
</div>
{% else %}
{% ifmemberof canvassers teamorganisers admin canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='roles' name='roles' class='pseudo-widget disabled'>
{{record.roles}}
</span>
{% else %}
<span id='roles' name='roles' class='pseudo-widget not-authorised'>
You are not permitted to view roles of canvassers
</span>
{% endifmemberof %}
{% endifmemberof %}
</p>
<p class='widget action-safe'>
<label for='save-button' class='action-safe'>
To save this canvassers record
</label>
<input id='save-button' name='save-button' class='action-safe' type='submit' value='Save!'/>
</p>
<p class='widget action-dangerous'>
<label for='delete-button' class='action-dangerous'>
To delete this canvassers record
</label>
<input id='delete-button' name='delete-button' class='action-dangerous' type='submit' value='Delete!'/>
</p>
</form>
</div>

{% endblock %}
{% block foot %}
<footer>
<div id='credits'>
<div>
<img height='24' width='24' src='img/credits/ric-logo.png'/>

            A project of the
            
<a href='https://radical.scot/'>
Radical Independence Campaign
</a>
 ||
            Version {{version}}
          
</div>
<div>
<img src='img/credits/luminus-logo.png' alt='Clojure' width='16' height='16'/>
Built with 
<a href='http://www.luminusweb.net/'>
LuminusWeb
</a>
 ||
            
<img src='img/credits/clojure-icon.gif' alt='Clojure' width='16' height='16'/>
 Powered by 
<a href='http://clojure.org'>
Clojure
</a>
 ||
            
<img src='img/credits/github-logo-transparent.png' alt='GitHub' width='16' height='16'/>
Find me/fork me on 
<a href='https://github.com/simon-brooke/smeagol'>
Github
</a>
 ||
            
<img src='img/credits/gnu.small.png' alt='Free Software Foundation' width='16' height='16'/>
Licensed under the 
<a href='http://www.gnu.org/licenses/gpl-2.0.html'>
GNU General Public License version 2.0
</a>
</div>
</div>
</footer>

{% endblock %}