{% extends "base.html" %}
<!-- File form-authorities-Authority.html generated 2018-06-29T10:10:59.623Z by adl.to-selmer-templates.
See [Application Description Language](https://github.com/simon-brooke/adl).-->
{% block head %}
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>

<meta content='width=device-width, initial-scale=1' name='viewport'/>

<link href='css/yyy-common.css' type='text/css' rel='stylesheet'/>

<link href='css/yyy-site.css' type='text/css' rel='stylesheet'/>

<link href='css/spinner.css' type='text/css' rel='stylesheet'/>

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Archivo+Black|Archivo+Narrow'/>

<title>
{{site-title}}: {{title}}
</title>

{% endblock %}

{% block content %}
<div id='content' class='edit'>
<form action='{{servlet-context}}/form-authorities-Authority' method='POST'>
{% csrf-field %}
<p class='widget'>
<label for='id'>
id
</label>
{% ifmemberof admin %}
<input id='id' name='id' type='text' value='{{record.id}}' maxlength='' size='16'/>
{% else %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='id' name='id' class='pseudo-widget disabled'>
{{record.id}}
</span>
{% else %}
<span id='id' name='id' class='pseudo-widget not-authorised'>
You are not permitted to view id of authorities
</span>
{% endifmemberof %}
{% endifmemberof %}
</p>
<p class='widget action-safe'>
<label for='save-button' class='action-safe'>
To save this authorities record
</label>
<input id='save-button' name='save-button' class='action-safe' type='submit' value='Save!'/>
</p>
<p class='widget action-dangerous'>
<label for='delete-button' class='action-dangerous'>
To delete this authorities record
</label>
<input id='delete-button' name='delete-button' class='action-dangerous' type='submit' value='Delete!'/>
</p>
</form>
</div>

{% endblock %}
{% block foot %}
<footer>
<div id='credits'>
<div>
<img height='24' width='24' src='img/credits/ric-logo.png'/>

            A project of the
            
<a href='https://radical.scot/'>
Radical Independence Campaign
</a>
 ||
            Version {{version}}
          
</div>
<div>
<img src='img/credits/luminus-logo.png' alt='Clojure' width='16' height='16'/>
Built with 
<a href='http://www.luminusweb.net/'>
LuminusWeb
</a>
 ||
            
<img src='img/credits/clojure-icon.gif' alt='Clojure' width='16' height='16'/>
 Powered by 
<a href='http://clojure.org'>
Clojure
</a>
 ||
            
<img src='img/credits/github-logo-transparent.png' alt='GitHub' width='16' height='16'/>
Find me/fork me on 
<a href='https://github.com/simon-brooke/smeagol'>
Github
</a>
 ||
            
<img src='img/credits/gnu.small.png' alt='Free Software Foundation' width='16' height='16'/>
Licensed under the 
<a href='http://www.gnu.org/licenses/gpl-2.0.html'>
GNU General Public License version 2.0
</a>
</div>
</div>
</footer>

{% endblock %}