{% extends "base.html" %}
<!-- File form-followuprequests-Followuprequest.html generated 2018-07-15T11:36:36.866Z by adl.to-selmer-templates.
See [Application Description Language](https://github.com/simon-brooke/adl).-->


{% block extra-head %}

           {% script "/js/lib/node_modules/selectize/dist/js/standalone/selectize.min.js" %}
           {% style "/js/lib/node_modules/selectize/dist/css/selectize.css" %}
{% endblock %}
{% block content %}
<div id='content' class='edit'>
<form action='{{servlet-context}}/form-followuprequests-Followuprequest' method='POST'>
{% csrf-field %}
<input id='id' name='id' type='hidden' value='{{record.id}}'/>
<p class='widget'>
<label for='elector_id'>
Elector_id
</label>
{% if {{record.elector_id}} %}
{% ifmemberof %}
<select id='elector_id' name='elector_id'>
{% for option in elector_id %}<option value='{{option.id}}' {% ifequal record.elector_id option.id%}selected='selected'{% endifequal %}>{{option.name}}</option>{% endfor %}
</select>
{% else %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='elector_id' name='elector_id' class='pseudo-widget disabled'>
{{record.elector_id}}
</span>
{% else %}
<span id='elector_id' name='elector_id' class='pseudo-widget not-authorised'>
You are not permitted to view elector_id of followuprequests
</span>
{% endifmemberof %}
{% endifmemberof %}
{% else %}
{% ifmemberof %}
<select id='elector_id' name='elector_id'>
{% for option in elector_id %}<option value='{{option.id}}' {% ifequal record.elector_id option.id%}selected='selected'{% endifequal %}>{{option.name}}</option>{% endfor %}
</select>
{% else %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='elector_id' name='elector_id' class='pseudo-widget disabled'>
{{record.elector_id}}
</span>
{% else %}
<span id='elector_id' name='elector_id' class='pseudo-widget not-authorised'>
You are not permitted to view elector_id of followuprequests
</span>
{% endifmemberof %}
{% endifmemberof %}
{% endif %}
</p>
<p class='widget'>
<label for='visit_id'>
Visit_id
</label>
{% if {{record.visit_id}} %}
{% ifmemberof %}
<select id='visit_id' name='visit_id'>
{% for option in visit_id %}<option value='{{option.id}}' {% ifequal record.visit_id option.id%}selected='selected'{% endifequal %}>{{option.address_id_expanded}} {{option.date}}</option>{% endfor %}
</select>
{% else %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='visit_id' name='visit_id' class='pseudo-widget disabled'>
{{record.visit_id}}
</span>
{% else %}
<span id='visit_id' name='visit_id' class='pseudo-widget not-authorised'>
You are not permitted to view visit_id of followuprequests
</span>
{% endifmemberof %}
{% endifmemberof %}
{% else %}
{% ifmemberof %}
<select id='visit_id' name='visit_id'>
{% for option in visit_id %}<option value='{{option.id}}' {% ifequal record.visit_id option.id%}selected='selected'{% endifequal %}>{{option.address_id_expanded}} {{option.date}}</option>{% endfor %}
</select>
{% else %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='visit_id' name='visit_id' class='pseudo-widget disabled'>
{{record.visit_id}}
</span>
{% else %}
<span id='visit_id' name='visit_id' class='pseudo-widget not-authorised'>
You are not permitted to view visit_id of followuprequests
</span>
{% endifmemberof %}
{% endifmemberof %}
{% endif %}
</p>
<p class='widget'>
<label for='issue_id'>
Issue_id
</label>
{% if {{record.issue_id}} %}
{% ifmemberof %}
<select id='issue_id' name='issue_id'>
{% for option in issue_id %}<option value='{{option.id}}' {% ifequal record.issue_id option.id%}selected='selected'{% endifequal %}>{{option.id}}</option>{% endfor %}
</select>
{% else %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='issue_id' name='issue_id' class='pseudo-widget disabled'>
{{record.issue_id}}
</span>
{% else %}
<span id='issue_id' name='issue_id' class='pseudo-widget not-authorised'>
You are not permitted to view issue_id of followuprequests
</span>
{% endifmemberof %}
{% endifmemberof %}
{% else %}
{% ifmemberof %}
<select id='issue_id' name='issue_id'>
{% for option in issue_id %}<option value='{{option.id}}' {% ifequal record.issue_id option.id%}selected='selected'{% endifequal %}>{{option.id}}</option>{% endfor %}
</select>
{% else %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='issue_id' name='issue_id' class='pseudo-widget disabled'>
{{record.issue_id}}
</span>
{% else %}
<span id='issue_id' name='issue_id' class='pseudo-widget not-authorised'>
You are not permitted to view issue_id of followuprequests
</span>
{% endifmemberof %}
{% endifmemberof %}
{% endif %}
</p>
<p class='widget'>
<label for='method_id'>
Method_id
</label>
{% if {{record.method_id}} %}
{% ifmemberof %}
<select id='method_id' name='method_id'>
{% for option in method_id %}<option value='{{option.id}}' {% ifequal record.method_id option.id%}selected='selected'{% endifequal %}>{{option.id}}</option>{% endfor %}
</select>
{% else %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='method_id' name='method_id' class='pseudo-widget disabled'>
{{record.method_id}}
</span>
{% else %}
<span id='method_id' name='method_id' class='pseudo-widget not-authorised'>
You are not permitted to view method_id of followuprequests
</span>
{% endifmemberof %}
{% endifmemberof %}
{% else %}
{% ifmemberof %}
<select id='method_id' name='method_id'>
{% for option in method_id %}<option value='{{option.id}}' {% ifequal record.method_id option.id%}selected='selected'{% endifequal %}>{{option.id}}</option>{% endfor %}
</select>
{% else %}
{% ifmemberof canvassers teamorganisers issueexperts analysts issueeditors admin %}
<span id='method_id' name='method_id' class='pseudo-widget disabled'>
{{record.method_id}}
</span>
{% else %}
<span id='method_id' name='method_id' class='pseudo-widget not-authorised'>
You are not permitted to view method_id of followuprequests
</span>
{% endifmemberof %}
{% endifmemberof %}
{% endif %}
</p>
{% ifmemberof %}
<p class='widget action-safe'>
<label for='save-button' class='action-safe'>
To save this followuprequests record
</label>
<input id='save-button' name='save-button' class='action-safe' type='submit' value='Save!'/>
</p>
{% endifmemberof %}
{% ifmemberof %}
<p class='widget action-dangerous'>
<label for='delete-button' class='action-dangerous'>
To delete this followuprequests record
</label>
<input id='delete-button' name='delete-button' class='action-dangerous' type='submit' value='Delete!'/>
</p>
{% endifmemberof %}
</form>
</div>

{% endblock %}
{% block extra-tail %}
<script type='text/javascript'>
/**
 * selectize one select widget. Substitute the actual id of the widget for `elector_id`,
 * and the current value for {{record.elector_id}}.
 */
$('#elector_id').selectize({
  valueField: 'id',
  labelField: 'name',
  searchField: 'name',
  hideSelected: false,
  create: false,

  load: function(query, callback) {
    console.log('Desperately seeking ' + query);
    if (query === null || !query.length) return callback();
    $.ajax({
      url: '/json/auto/search-strings-electors?name=' + query,
      type: 'GET',
      dataType: 'jsonp',
      error: function() {
        console.log( 'Query ' + query + ' failed.');
        callback();
      },
      success: function(res) {
        console.log('Received ' + res + ' records for ' + query);
        callback(res);
      }
    });
  }
})[0].selectize.setValue({{record.elector_id}}, true);

/**
 * selectize one select widget. Substitute the actual id of the widget for `visit_id`,
 * and the current value for {{record.visit_id}}.
 */
$('#visit_id').selectize({
  valueField: 'id',
  labelField: 'name',
  searchField: 'name',
  hideSelected: false,
  create: false,

  load: function(query, callback) {
    console.log('Desperately seeking ' + query);
    if (query === null || !query.length) return callback();
    $.ajax({
      url: '/json/auto/search-strings-electors?name=' + query,
      type: 'GET',
      dataType: 'jsonp',
      error: function() {
        console.log( 'Query ' + query + ' failed.');
        callback();
      },
      success: function(res) {
        console.log('Received ' + res + ' records for ' + query);
        callback(res);
      }
    });
  }
})[0].selectize.setValue({{record.visit_id}}, true);

</script>

{% endblock %}
