{% extends "base.html" %}
<!-- File form-followupactions-Followupaction.html generated 2018-07-03T23:08:20.084Z by adl.to-selmer-templates.
See [Application Description Language](https://github.com/simon-brooke/adl).-->


{% block content %}
<div id='content' class='edit'>
<form action='{{servlet-context}}/form-followupactions-Followupaction' method='POST'>
{% csrf-field %}
<p class='widget'>
<label for='id'>
id
</label>
{% ifmemberof admin %}
<input id='id' name='id' type='text' value='{{record.id}}' maxlength='' size='16'/>
{% else %}
{% ifmemberof issueexperts canvassers analysts issueeditors admin %}
<span id='id' name='id' class='pseudo-widget disabled'>
{{record.id}}
</span>
{% else %}
<span id='id' name='id' class='pseudo-widget not-authorised'>
You are not permitted to view id of followupactions
</span>
{% endifmemberof %}
{% endifmemberof %}
</p>
<p class='widget'>
<label for='request_id'>
request_id
</label>
{% ifmemberof admin %}
<div class='select-box' farside='followuprequests' found='true'>
<input name='request_id-search-box' onchange='/* javascript to repopulate the select widget */'/>
<select id='request_id' name='request_id' comment='JavaScript stuff to fix up aynchronous loading'>
{% for r in followuprequests %}<option value='{{r.id}}' {% ifequal record.request_id r.id%}selected{% endifequal %}>{{r.elector_id}} {{r.visit_id}} {{r.issue_id}}</option>{% endfor %}
</select>
</div>
{% else %}
{% ifmemberof issueexperts canvassers analysts issueeditors admin %}
<span id='request_id' name='request_id' class='pseudo-widget disabled'>
{{record.request_id}}
</span>
{% else %}
<span id='request_id' name='request_id' class='pseudo-widget not-authorised'>
You are not permitted to view request_id of followupactions
</span>
{% endifmemberof %}
{% endifmemberof %}
</p>
<p class='widget'>
<label for='actor'>
actor
</label>
{% ifmemberof admin %}
<div class='select-box' farside='canvassers' found='true'>
<input name='actor-search-box' onchange='/* javascript to repopulate the select widget */'/>
<select id='actor' name='actor' comment='JavaScript stuff to fix up aynchronous loading'>
{% for r in canvassers %}<option value='{{r.id}}' {% ifequal record.actor r.id%}selected{% endifequal %}>{{r.username}} {{r.fullname}} {{r.address_id}} {{r.phone}} {{r.email}}</option>{% endfor %}
</select>
</div>
{% else %}
{% ifmemberof issueexperts canvassers analysts issueeditors admin %}
<span id='actor' name='actor' class='pseudo-widget disabled'>
{{record.actor}}
</span>
{% else %}
<span id='actor' name='actor' class='pseudo-widget not-authorised'>
You are not permitted to view actor of followupactions
</span>
{% endifmemberof %}
{% endifmemberof %}
</p>
<p class='widget'>
<label for='date'>
date
</label>
{% ifmemberof admin %}
<input id='date' name='date' type='text' value='{{record.date}}' maxlength='' size='16'/>
{% else %}
{% ifmemberof issueexperts canvassers analysts issueeditors admin %}
<span id='date' name='date' class='pseudo-widget disabled'>
{{record.date}}
</span>
{% else %}
<span id='date' name='date' class='pseudo-widget not-authorised'>
You are not permitted to view date of followupactions
</span>
{% endifmemberof %}
{% endifmemberof %}
</p>
<p class='widget'>
<label for='notes'>
notes
</label>
{% ifmemberof admin %}
<input id='notes' name='notes' type='text' value='{{record.notes}}' maxlength='' size='16'/>
{% else %}
{% ifmemberof issueexperts canvassers analysts issueeditors admin %}
<span id='notes' name='notes' class='pseudo-widget disabled'>
{{record.notes}}
</span>
{% else %}
<span id='notes' name='notes' class='pseudo-widget not-authorised'>
You are not permitted to view notes of followupactions
</span>
{% endifmemberof %}
{% endifmemberof %}
</p>
<p class='widget'>
<label for='closed'>
closed
</label>
{% ifmemberof admin %}
<input id='closed' name='closed' type='checkbox' value='{{record.closed}}' maxlength='' size='16'/>
{% else %}
{% ifmemberof issueexperts canvassers analysts issueeditors admin %}
<span id='closed' name='closed' class='pseudo-widget disabled'>
{{record.closed}}
</span>
{% else %}
<span id='closed' name='closed' class='pseudo-widget not-authorised'>
You are not permitted to view closed of followupactions
</span>
{% endifmemberof %}
{% endifmemberof %}
</p>
<p class='widget action-safe'>
<label for='save-button' class='action-safe'>
To save this followupactions record
</label>
<input id='save-button' name='save-button' class='action-safe' type='submit' value='Save!'/>
</p>
<p class='widget action-dangerous'>
<label for='delete-button' class='action-dangerous'>
To delete this followupactions record
</label>
<input id='delete-button' name='delete-button' class='action-dangerous' type='submit' value='Delete!'/>
</p>
</form>
</div>

{% endblock %}
