{% extends "base.html" %}
<!-- File list-authorities-Authorities.html generated 2018-07-05T10:14:18.439Z by adl.to-selmer-templates.
See [Application Description Language](https://github.com/simon-brooke/adl).-->


{% block back-links %}
<div>
<div class='back-link-container'>
{% ifequal params.offset "0" %}
<a id='back-link' class='back-link' href='{{servlet-context}}/admin'>
Back
</a>
{% else %}
<a id='prev-selector' class='back-link'>
Previous
</a>
{% endifunequal %}
</div>
</div>

{% endblock %}
{% block big-links %}
<div>
<div class='big-link-container'>
<a id='next-selector' role='button' class='big-link'>
Next
</a>
</div>
{% ifmemberof admin %}
<div class='big-link-container'>
<a href='form-authorities-Authority' class='big-link'>
Add a new Authority
</a>
</div>
{% endifmemberof %}
</div>

{% endblock %}
{% block content %}
<form id='list-authorities-Authorities' class='list' action='{{servlet-context}}/list-authorities-Authorities' method='POST'>
{% csrf-field %}
<input id='offset' type='hidden' value='{{params.offset|default:0}}'/>
<input id='limit' type='hidden' value='{{params.limit|default:50}}'/>
<table caption='authorities'>
<thead>
<tr>
<th>
id
</th>
<th>
request-token-uri
</th>
<th>
access-token-uri
</th>
<th>
authorize-uri
</th>
<th>
&nbsp;
</th>
</tr>
<tr>
<th>
<input id='id' type='text' name='id' value='{{ params.id }}'/>
</th>
<th>
<input id='request_token_uri' type='text' name='request_token_uri' value='{{ params.request_token_uri }}'/>
</th>
<th>
<input id='access_token_uri' type='text' name='access_token_uri' value='{{ params.access_token_uri }}'/>
</th>
<th>
<input id='authorize_uri' type='text' name='authorize_uri' value='{{ params.authorize_uri }}'/>
</th>
<th>
<input type='submit' id='search-widget' value='Search'/>
</th>
</tr>
</thead>
<tbody>
{% for record in records %}
<tr>
<td>
{{ record.id }}
</td>
<td>
{{ record.request_token_uri }}
</td>
<td>
{{ record.access_token_uri }}
</td>
<td>
{{ record.authorize_uri }}
</td>
<td>
<a href='form-authorities-Authority?id={{ record.id }}'>
View
</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</form>

{% endblock %}
{% block extra-script %}

          var form = document.getElementById('list-authorities-Authorities');
          var ow = document.getElementById('offset');
          var lw = document.getElementById('limit');
          form.addEventListener('submit', function() {
          ow.value='0';
          });

          {% ifunequal params.offset "0" %}
          document.getElementById('prev-selector').addEventListener('click', function () {
          ow.value=(parseInt(ow.value)-parseInt(lw.value));
          console.log('Updated offset to ' + ow.value);
          form.submit();
          });
          {% endifunequal %}

          document.getElementById('next-selector').addEventListener('click', function () {
          ow.value=(parseInt(ow.value)+parseInt(lw.value));
          console.log('Updated offset to ' + ow.value);
          form.submit();
          });
{% endblock %}
