{% extends "base.html" %}
<!-- File list-canvassers-Canvassers.html generated 2018-07-03T12:23:51.938Z by adl.to-selmer-templates.
See [Application Description Language](https://github.com/simon-brooke/adl).-->


{% block content %}
<form id='content' class='list'>
<div class='big-link-container'>
<a href='form-canvassers-Canvasser'>
Add a new Canvasser
</a>
</div>
<table caption='canvassers'>
<thead>
<tr>
<th>
id
</th>
<th>
username
</th>
<th>
fullname
</th>
<th>
elector_id
</th>
<th>
address_id
</th>
<th>
phone
</th>
<th>
email
</th>
<th>
authority_id
</th>
<th>
authorised
</th>
</tr>
<tr>
<th>
<input id='id' type='text' name='id' value='{{ params.id }}'/>
</th>
<th>
<input id='username' type='text' name='username' value='{{ params.username }}'/>
</th>
<th>
<input id='fullname' type='text' name='fullname' value='{{ params.fullname }}'/>
</th>
<th>
<input id='elector_id_expanded' type='text' name='elector_id_expanded' value='{{ params.elector_id_expanded }}'/>
</th>
<th>
<input id='address_id_expanded' type='text' name='address_id_expanded' value='{{ params.address_id_expanded }}'/>
</th>
<th>
<input id='phone' type='text' name='phone' value='{{ params.phone }}'/>
</th>
<th>
<input id='email' type='text' name='email' value='{{ params.email }}'/>
</th>
<th>
<input id='authority_id_expanded' type='text' name='authority_id_expanded' value='{{ params.authority_id_expanded }}'/>
</th>
<th>
<input id='authorised' type='text' name='authorised' value='{{ params.authorised }}'/>
</th>
<th>
<input type='submit' id='search' value='Search'/>
</th>
</tr>
</thead>
<tbody>
{% for record in records %}
<tr>
<td>
{{ record.id }}
</td>
<td>
{{ record.username }}
</td>
<td>
{{ record.fullname }}
</td>
<td>
<a href='form-electors-Elector?id={{ record.elector_id }}'>
{{ record.elector_id_expanded }}
</a>
</td>
<td>
<a href='form-addresses-Address?id={{ record.address_id }}'>
{{ record.address_id_expanded }}
</a>
</td>
<td>
{{ record.phone }}
</td>
<td>
{{ record.email }}
</td>
<td>
<a href='form-authorities-Authority?id={{ record.authority_id }}'>
{{ record.authority_id_expanded }}
</a>
</td>
<td>
{{ record.authorised }}
</td>
<td>
<a href='form-canvassers-Canvasser?id={{ record.id }}'>
View
</a>
</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
<div class='back-link-container'>
<input id='page' name='page' disabled='{% ifequal offset 0 %} false {% else %} true {% endifequal %}' value='Previous'/>
</div>
<div class='big-link-container'>
<input id='page' name='page' disabled='false' value='Next'/>
</div>
</tfoot>
</table>
</form>

{% endblock %}
