{% extends "base.html" %}
<!-- File list-issues-Issues.html generated 2018-07-03T12:23:51.933Z by adl.to-selmer-templates.
See [Application Description Language](https://github.com/simon-brooke/adl).-->


{% block content %}
<form id='content' class='list'>
<div class='big-link-container'>
<a href='form-issues-Issue'>
Add a new Issue
</a>
</div>
<table caption='issues'>
<thead>
<tr>
<th>
id
</th>
<th>
url
</th>
<th>
current
</th>
<th>
brief
</th>
</tr>
<tr>
<th>
<input id='id' type='text' name='id' value='{{ params.id }}'/>
</th>
<th>
<input id='url' type='text' name='url' value='{{ params.url }}'/>
</th>
<th>
<input id='current' type='text' name='current' value='{{ params.current }}'/>
</th>
<th>
<input id='brief' type='text' name='brief' value='{{ params.brief }}'/>
</th>
<th>
<input type='submit' id='search' value='Search'/>
</th>
</tr>
</thead>
<tbody>
{% for record in records %}
<tr>
<td>
{{ record.id }}
</td>
<td>
{{ record.url }}
</td>
<td>
{{ record.current }}
</td>
<td>
{{ record.brief }}
</td>
<td>
<a href='form-issues-Issue?id={{ record.id }}'>
View
</a>
</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
<div class='back-link-container'>
<input id='page' name='page' disabled='{% ifequal offset 0 %} false {% else %} true {% endifequal %}' value='Previous'/>
</div>
<div class='big-link-container'>
<input id='page' name='page' disabled='false' value='Next'/>
</div>
</tfoot>
</table>
</form>

{% endblock %}
