{% extends "base.html" %}
<!-- File list-followupactions-Followupactions.html generated 2018-07-05T10:14:18.484Z by adl.to-selmer-templates.
See [Application Description Language](https://github.com/simon-brooke/adl).-->


{% block back-links %}
<div>
<div class='back-link-container'>
{% ifequal params.offset "0" %}
<a id='back-link' class='back-link' href='{{servlet-context}}/admin'>
Back
</a>
{% else %}
<a id='prev-selector' class='back-link'>
Previous
</a>
{% endifunequal %}
</div>
</div>

{% endblock %}
{% block big-links %}
<div>
<div class='big-link-container'>
<a id='next-selector' role='button' class='big-link'>
Next
</a>
</div>
{% ifmemberof admin %}
<div class='big-link-container'>
<a href='form-followupactions-Followupaction' class='big-link'>
Add a new Followupaction
</a>
</div>
{% endifmemberof %}
</div>

{% endblock %}
{% block content %}
<form id='list-followupactions-Followupactions' class='list' action='{{servlet-context}}/list-followupactions-Followupactions' method='POST'>
{% csrf-field %}
<input id='offset' type='hidden' value='{{params.offset|default:0}}'/>
<input id='limit' type='hidden' value='{{params.limit|default:50}}'/>
<table caption='followupactions'>
<thead>
<tr>
<th>
id
</th>
<th>
request_id
</th>
<th>
actor
</th>
<th>
date
</th>
<th>
notes
</th>
<th>
closed
</th>
<th>
&nbsp;
</th>
</tr>
<tr>
<th>
<input id='id' type='text' name='id' value='{{ params.id }}'/>
</th>
<th>
<input id='request_id_expanded' type='text' name='request_id_expanded' value='{{ params.request_id_expanded }}'/>
</th>
<th>
<input id='actor_expanded' type='text' name='actor_expanded' value='{{ params.actor_expanded }}'/>
</th>
<th>
<input id='date' type='date' name='date' value='{{ params.date }}'/>
</th>
<th>
<input id='notes' type='text' name='notes' value='{{ params.notes }}'/>
</th>
<th>
<input id='closed' type='text' name='closed' value='{{ params.closed }}'/>
</th>
<th>
<input type='submit' id='search-widget' value='Search'/>
</th>
</tr>
</thead>
<tbody>
{% for record in records %}
<tr>
<td>
{{ record.id }}
</td>
<td>
<a href='form-followuprequests-Followuprequest?id={{ record.request_id }}'>
{{ record.request_id_expanded }}
</a>
</td>
<td>
<a href='form-canvassers-Canvasser?id={{ record.actor }}'>
{{ record.actor_expanded }}
</a>
</td>
<td>
{{ record.date }}
</td>
<td>
{{ record.notes }}
</td>
<td>
{{ record.closed }}
</td>
<td>
<a href='form-followupactions-Followupaction?id={{ record.id }}'>
View
</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</form>

{% endblock %}
{% block extra-script %}

          var form = document.getElementById('list-followupactions-Followupactions');
          var ow = document.getElementById('offset');
          var lw = document.getElementById('limit');
          form.addEventListener('submit', function() {
          ow.value='0';
          });

          {% ifunequal params.offset "0" %}
          document.getElementById('prev-selector').addEventListener('click', function () {
          ow.value=(parseInt(ow.value)-parseInt(lw.value));
          console.log('Updated offset to ' + ow.value);
          form.submit();
          });
          {% endifunequal %}

          document.getElementById('next-selector').addEventListener('click', function () {
          ow.value=(parseInt(ow.value)+parseInt(lw.value));
          console.log('Updated offset to ' + ow.value);
          form.submit();
          });
{% endblock %}
