{% extends "base.html" %}
<!-- File list-dwellings-Dwellings.html generated 2018-07-10T15:25:24.206Z by adl.to-selmer-templates.
See [Application Description Language](https://github.com/simon-brooke/adl).-->


{% block back-links %}
<div>
<div class='back-link-container'>
{% ifequal params.offset "0" %}
<a id='back-link' class='back-link' href='{{servlet-context}}/admin'>
Back
</a>
{% else %}
<a id='prev-selector' class='back-link'>
Previous
</a>
{% endifunequal %}
</div>
</div>

{% endblock %}
{% block big-links %}
<div>
<div class='big-link-container'>
<a id='next-selector' role='button' class='big-link'>
Next
</a>
</div>
{% ifmemberof admin %}
<div class='big-link-container'>
<a href='{{servlet-context}}/form-dwellings-Dwelling' class='big-link'>
Add a new Dwelling
</a>
</div>
{% endifmemberof %}
</div>

{% endblock %}
{% block content %}
<form id='list-dwellings-Dwellings' class='list' action='{{servlet-context}}/list-dwellings-Dwellings' method='POST'>
{% csrf-field %}
<input id='offset' type='hidden' value='{{params.offset|default:0}}'/>
<input id='limit' type='hidden' value='{{params.limit|default:50}}'/>
<table caption='dwellings'>
<thead>
<tr>
<th>
Id
</th>
<th>
Address_id
</th>
<th>
Sub-address
</th>
<th>
&nbsp;
</th>
</tr>
<tr>
<th>
<input id='id' type='text' name='id' value='{{ params.id }}'/>
</th>
<th>
<input id='address_id_expanded' type='text' name='address_id_expanded' value='{{ params.address_id_expanded }}'/>
</th>
<th>
<input id='sub_address' type='text' name='sub_address' value='{{ params.sub_address }}'/>
</th>
<th>
<input type='submit' id='search-widget' value='Search'/>
</th>
</tr>
</thead>
<tbody>
{% for record in records %}
<tr>
<td>
{{ record.id }}
</td>
<td>
<a href='{{servlet-context}}/form-addresses-Address?id={{ record.address_id }}'>
{{ record.address_id_expanded }}
</a>
</td>
<td>
{{ record.sub_address }}
</td>
<td>
<a href='{{servlet-context}}/form-dwellings-Dwelling?id={{ record.id }}'>
View
</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</form>

{% endblock %}
{% block extra-script %}

          var form = document.getElementById('list-dwellings-Dwellings');
          var ow = document.getElementById('offset');
          var lw = document.getElementById('limit');
          form.addEventListener('submit', function() {
          ow.value='0';
          });

          {% ifunequal params.offset "0" %}
          document.getElementById('prev-selector').addEventListener('click', function () {
          ow.value=(parseInt(ow.value)-parseInt(lw.value));
          console.log('Updated offset to ' + ow.value);
          form.submit();
          });
          {% endifunequal %}

          document.getElementById('next-selector').addEventListener('click', function () {
          ow.value=(parseInt(ow.value)+parseInt(lw.value));
          console.log('Updated offset to ' + ow.value);
          form.submit();
          });
{% endblock %}
