{% extends "templates/base.html" %}

<!-- File list-visits-Visits.html generated 2018-06-10T21:17:47.117Z by adl.to-selmer-templates.
See [Application Description Language](https://github.com/simon-brooke/adl).-->

{% block content %}
<form id='content' class='list'>
<div class='big-link-container'>
<a href='form-visits-Visit'>
Add a new Visit
</a>
</div>
<table caption='visits'>
<thead>
<tr>
<th>
id
</th>
<th>
address_id
</th>
<th>
canvasser_id
</th>
<th>
date
</th>
</tr>
<tr>
<th>
<input id='id' name='id' value='{{ params.id }}'/>
</th>
<th>
<input id='address_id' name='address_id' value='{{ params.address_id }}'/>
</th>
<th>
<input id='canvasser_id' name='canvasser_id' value='{{ params.canvasser_id }}'/>
</th>
<th>
<input id='date' name='date' value='{{ params.date }}'/>
</th>
</tr>
</thead>
<tbody>
{% for record in %records% %}
<tr>
<td>
{{ record.id }}
</td>
<td>
{{ record.address_id }}
</td>
<td>
{{ record.canvasser_id }}
</td>
<td>
{{ record.date }}
</td>
<td>
<a href='form-visits-Visit?id={{ record.id}}'>
View
</a>
</td>
</tr>
{% endfor %}
</tbody>
<tfoot/>
</table>
{% if offset > 0 %}
<div class='back-link-container'>
<a href='FIXME'>
Previous
</a>
</div>
{% endif %}
<div class='big-link-container'>
<a href='FIXME'>
Next
</a>
</div>
<div class='big-link-container'>
<a href='form-visits-Visit'>
Add a new Visit
</a>
</div>
</form>

{% endblock %}
