{% extends "base.html" %}
<!-- File list-teams-Teams.html generated 2018-07-03T12:23:51.885Z by adl.to-selmer-templates.
See [Application Description Language](https://github.com/simon-brooke/adl).-->


{% block content %}
<form id='content' class='list'>
<div class='big-link-container'>
<a href='form-teams-Team'>
Add a new Team
</a>
</div>
<table caption='teams'>
<thead>
<tr>
<th>
id
</th>
<th>
name
</th>
<th>
district_id
</th>
<th>
latitude
</th>
<th>
longitude
</th>
</tr>
<tr>
<th>
<input id='id' type='text' name='id' value='{{ params.id }}'/>
</th>
<th>
<input id='name' type='text' name='name' value='{{ params.name }}'/>
</th>
<th>
<input id='district_id_expanded' type='text' name='district_id_expanded' value='{{ params.district_id_expanded }}'/>
</th>
<th>
<input id='latitude' type='number' name='latitude' value='{{ params.latitude }}'/>
</th>
<th>
<input id='longitude' type='number' name='longitude' value='{{ params.longitude }}'/>
</th>
<th>
<input type='submit' id='search' value='Search'/>
</th>
</tr>
</thead>
<tbody>
{% for record in records %}
<tr>
<td>
{{ record.id }}
</td>
<td>
{{ record.name }}
</td>
<td>
<a href='form-districts-District?id={{ record.district_id }}'>
{{ record.district_id_expanded }}
</a>
</td>
<td>
{{ record.latitude }}
</td>
<td>
{{ record.longitude }}
</td>
<td>
<a href='form-teams-Team?id={{ record.id }}'>
View
</a>
</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
<div class='back-link-container'>
<input id='page' name='page' disabled='{% ifequal offset 0 %} false {% else %} true {% endifequal %}' value='Previous'/>
</div>
<div class='big-link-container'>
<input id='page' name='page' disabled='false' value='Next'/>
</div>
</tfoot>
</table>
</form>

{% endblock %}
