{% extends "base.html" %}
<!-- File list-addresses-Addresses.html generated 2018-06-29T14:15:38.726Z by adl.to-selmer-templates.
See [Application Description Language](https://github.com/simon-brooke/adl).-->
{% block head %}
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>

<meta content='width=device-width, initial-scale=1' name='viewport'/>

<link href='css/yyy-common.css' type='text/css' rel='stylesheet'/>

<link href='css/yyy-site.css' type='text/css' rel='stylesheet'/>

<link href='css/spinner.css' type='text/css' rel='stylesheet'/>

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Archivo+Black|Archivo+Narrow'/>

<title>
{{site-title}}: {{title}}
</title>

{% endblock %}

{% block content %}
<form id='content' class='list'>
<div class='big-link-container'>
<a href='form-addresses-Address'>
Add a new Address
</a>
</div>
<table caption='addresses'>
<thead>
<tr>
<th>
id
</th>
<th>
address
</th>
<th>
postcode
</th>
<th>
phone
</th>
<th>
district_id
</th>
<th>
latitude
</th>
<th>
longitude
</th>
</tr>
<tr>
<th>
<input id='id' type='text' name='id' value='{{ params.id }}'/>
</th>
<th>
<input id='address' type='text' name='address' value='{{ params.address }}'/>
</th>
<th>
<input id='postcode' type='text' name='postcode' value='{{ params.postcode }}'/>
</th>
<th>
<input id='phone' type='text' name='phone' value='{{ params.phone }}'/>
</th>
<th>
<input id='district_id_expanded' type='text' name='district_id_expanded' value='{{ params.district_id_expanded }}'/>
</th>
<th>
<input id='latitude' type='number' name='latitude' value='{{ params.latitude }}'/>
</th>
<th>
<input id='longitude' type='number' name='longitude' value='{{ params.longitude }}'/>
</th>
<th>
<input type='submit' id='search' value='Search'/>
</th>
</tr>
</thead>
<tbody>
{% for record in records %}
<tr>
<td>
{{ record.id }}
</td>
<td>
{{ record.address }}
</td>
<td>
{{ record.postcode }}
</td>
<td>
{{ record.phone }}
</td>
<td>
<a href='form-districts-District?id={{ record.district_id }}'>
{{ record.district_id_expanded }}
</a>
</td>
<td>
{{ record.latitude }}
</td>
<td>
{{ record.longitude }}
</td>
<td>
<a href='form-addresses-Address?id={{ record.id }}'>
View
</a>
</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
<div class='back-link-container'>
<input id='page' name='page' disabled='{% ifequal offset 0 %} false {% else %} true {% endifequal %}' value='Previous'/>
</div>
<div class='big-link-container'>
<input id='page' name='page' disabled='false' value='Next'/>
</div>
</tfoot>
</table>
</form>

{% endblock %}
{% block foot %}
<footer>
<div id='credits'>
<div>
<img height='24' width='24' src='img/credits/ric-logo.png'/>

            A project of the
            
<a href='https://radical.scot/'>
Radical Independence Campaign
</a>
 ||
            Version {{version}}
          
</div>
<div>
<img src='img/credits/luminus-logo.png' alt='Clojure' width='16' height='16'/>
Built with 
<a href='http://www.luminusweb.net/'>
LuminusWeb
</a>
 ||
            
<img src='img/credits/clojure-icon.gif' alt='Clojure' width='16' height='16'/>
 Powered by 
<a href='http://clojure.org'>
Clojure
</a>
 ||
            
<img src='img/credits/github-logo-transparent.png' alt='GitHub' width='16' height='16'/>
Find me/fork me on 
<a href='https://github.com/simon-brooke/smeagol'>
Github
</a>
 ||
            
<img src='img/credits/gnu.small.png' alt='Free Software Foundation' width='16' height='16'/>
Licensed under the 
<a href='http://www.gnu.org/licenses/gpl-2.0.html'>
GNU General Public License version 2.0
</a>
</div>
</div>
</footer>

{% endblock %}