{% extends "base.html" %}
<!-- File list-visits-Visits.html generated 2018-07-01T22:15:35.283Z by adl.to-selmer-templates.
See [Application Description Language](https://github.com/simon-brooke/adl).-->


{% block back-links %}
<div>
<div class='back-link-container'>
{% ifunequal params.offset "0" %}
<a id='prev-selector' class='back-link'>
Previous
</a>
{% else %}
<a id='back-link' class='back-link' href='{{servlet-context}}/admin'>
Back
</a>
{% endifunequal %}
</div>
</div>

{% endblock %}
{% block big-links %}
<div>
<div class='big-link-container'>
<a id='next-selector' role='button' class='big-link'>
Next
</a>
</div>
<div class='big-link-container'>
<a href='form-visits-Visit' class='big-link'>
Add a new Visit
</a>
</div>
</div>

{% endblock %}
{% block content %}
<form id='list-visits-Visits' class='list' action='{{servlet-context}}/list-visits-Visits' method='POST'>
{% csrf-field %}
<input id='offset' type='hidden' value='{{params.offset|default:0}}'/>
<input id='limit' type='hidden' value='{{params.limit|default:50}}'/>
<table caption='visits'>
<thead>
<tr>
<th>
id
</th>
<th>
address_id
</th>
<th>
canvasser_id
</th>
<th>
date
</th>
</tr>
<tr>
<th>
<input id='id' type='text' name='id' value='{{ params.id }}'/>
</th>
<th>
<input id='address_id_expanded' type='text' name='address_id_expanded' value='{{ params.address_id_expanded }}'/>
</th>
<th>
<input id='canvasser_id_expanded' type='text' name='canvasser_id_expanded' value='{{ params.canvasser_id_expanded }}'/>
</th>
<th>
<input id='date' type='date' name='date' value='{{ params.date }}'/>
</th>
<th>
<input type='submit' id='search-widget' value='Search'/>
</th>
</tr>
</thead>
<tbody>
{% for record in records %}
<tr>
<td>
{{ record.id }}
</td>
<td>
<a href='form-addresses-Address?id={{ record.address_id }}'>
{{ record.address_id_expanded }}
</a>
</td>
<td>
<a href='form-canvassers-Canvasser?id={{ record.canvasser_id }}'>
{{ record.canvasser_id_expanded }}
</a>
</td>
<td>
{{ record.date }}
</td>
<td>
<a href='form-visits-Visit?id={{ record.id }}'>
View
</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</form>

{% endblock %}
{% block extra-script %}

          var form = document.getElementById('list-visits-Visits');
          var ow = document.getElementById('offset');
          var lw = document.getElementById('limit');
          form.addEventListener('submit', function() {
            ow.value='0';
          });

          {% ifunequal offset 0 %}
          document.getElementById('prev-selector').addEventListener('click', function () {
            ow.value=(parseInt(ow.value)-parseInt(lw.value));
            console.log('Updated offset to ' + ow.value);
            form.submit();
          });
          {% endifunequal %}

          document.getElementById('next-selector').addEventListener('click', function () {
            ow.value=(parseInt(ow.value)+parseInt(lw.value));
            console.log('Updated offset to ' + ow.value);
            form.submit();
          });
{% endblock %}
