*~
*.log*
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
/resources/public/content/.git
/resources/public/vendor
/bower_components/
/resources/public/js/lib/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.lein-env
.nrepl-port
/node_modules/
.DS_Store
*-init.clj
profiles\.clj
.bowerrc
bower.json
.idea

src/clj/youyesyet/scratchpad\.clj

*.iml

resources/sql/queries\.auto\.sql

resources/templates/auto/

src/clj/youyesyet/routes/auto\.clj

src/clj/youyesyet/routes/auto_json\.clj

resources/sql/youyesyet\.postgres\.sql

\.rebel_readline_history
/dumps/
