{% extends "base.html" %}
{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/css/yyy-common.css" />
    <link rel="stylesheet" type="text/css" href="/css/yyy-app.css" />
    <link rel="stylesheet" type="text/css" href="/css/spinner.css" />
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Archivo+Narrow" rel="stylesheet"/>
    <title>{{site-title}}: {{title}}</title>
{% endblock %}
{% block whole-page %}
    <div id="app">
      <div class="splash-screen">
        <div class="sk-fading-circle">
          <div class="sk-circle1 sk-circle"></div>
          <div class="sk-circle2 sk-circle"></div>
          <div class="sk-circle3 sk-circle"></div>
          <div class="sk-circle4 sk-circle"></div>
          <div class="sk-circle5 sk-circle"></div>
          <div class="sk-circle6 sk-circle"></div>
          <div class="sk-circle7 sk-circle"></div>
          <div class="sk-circle8 sk-circle"></div>
          <div class="sk-circle9 sk-circle"></div>
          <div class="sk-circle10 sk-circle"></div>
          <div class="sk-circle11 sk-circle"></div>
          <div class="sk-circle12 sk-circle"></div>
        </div>
      </div>
      <p class="footer">
        You Yes Yet is loading.
        You must enable JavaScript to use the You Yes Yet app.
      </p>
    </div>
{% endblock %}
{% block extra-script %}
    var user = {
      "username": "{{user.username}}",
      "fullname": "{{user.fullname}}",
      "id": {{user.id|default:-1}},
      "authorised": {{user.authorised|default:false}}
    };
{% endblock %}
{% block extra-tail %}
<!-- scripts and styles -->
<!-- Leaflet -->
<link rel="stylesheet" href="js/lib/node_modules/leaflet/dist/leaflet.css" />
<!-- script src="js/lib/node_modules/leaflet/dist/leaflet.js"></script -->

<!-- TEMP: react seems no longer to be automatically added to the dependencies by reagent? -->
<!-- script src="js/lib/node_modules/react/index.js"></script -->

<!-- Signature pad -->
<script src="js/lib/node_modules/signature_pad/dist/signature_pad.min.js"></script>
<!-- our actual app -->
<script src="js/app.js"></script>
{% endblock %}




