<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/yyy-common.css" />
    <link rel="stylesheet" type="text/css" href="css/yyy-site.css" />
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Archivo+Narrow" rel="stylesheet"/>
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      <div id="nav">
        <img id="nav-icon" src="img/threelines.png" alt="Menu"/>
        <menu id="nav-menu" class="nav">
          <li class=""><a href="index.html">Home</a></li>
          <li class=""><a href="library.html">Library</a></li>
          <li class=""><a href="register.html">Register</a></li>
          <li class=""><a href="login.html">Login</a></li>
          <li class=""><a href="about.html">About</a></li>
        </menu>
      </div>

      <h1>
        {{title}}
      </h1>
    </header>

    <div id="main-container" class="container">
      <div id="big-links">
        {% block big-links %}
        {% endblock %}
      </div>
      <div if="#content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <footer>
      <div id="credits">
        <div>
          <img src="img/ric-logo.png" width="24" height="24"/>
          A project of the
          <a href="https://radical.scot/">Radical Independence Campaign</a> ||
          Version {{version}}
        </div>
        <div>
          <img height="16" width="16" alt="Clojure" src="img/luminus-logo.png"/>Built with <a href="http://www.luminusweb.net/">LuminusWeb</a> ||
          <img height="16" width="16" alt="Clojure" src="img/clojure-icon.gif"/> Powered by <a href="http://clojure.org">Clojure</a> ||
          <img height="16" width="16" alt="GitHub" src="img/github-logo-transparent.png"/>Find me/fork me on <a href="https://github.com/simon-brooke/smeagol">Github</a> ||
          <img height="16" width="16" alt="Free Software Foundation" src="img/gnu.small.png"/>Licensed under the <a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU General Public License version 2.0</a>
        </div>
      </div>
    </footer>
    <script type="text/javascript">
        var context = "{{servlet-context}}";
        var csrfToken = "{{csrf-token}}";
    </script>
  </body>
</html>
