<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/yyy-common.css" />
    <link rel="stylesheet" type="text/css" href="css/yyy-site.css" />
    <link rel="stylesheet" type="text/css" href="css/spinner.css" />
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Archivo+Narrow" rel="stylesheet"/>
    <title>{{title}}</title>
  </head>
  <body>
    {% block whole-page %}
    {% block top %}
    <header>
      <div id="nav">
        <img id="nav-icon" src="img/threelines.png" alt="Menu"/>
        <menu id="nav-menu" class="nav">
          <li class=""><a href="home">Home</a></li>
          <li class=""><a href="library">Library</a></li>
          <li class=""><a href="register">Register</a></li>
          <li class="">{% if user %}<a href="logout">Logout</a>
            {% else %}<a href="login">Login</a>{% endif %}</li>
          <li class=""><a href="about">About</a></li>
          {% if user %}
          <li id="user"><a href="profile">Logged in as {{user.username}}</a></li>
          {% endif %}
        </menu>
      </div>

      <h1>
        {{title}}
      </h1>
    </header>
    {% endblock %}
    <div id="main-container" class="container">
      <div id="big-links">
        {% block big-links %}
        {% endblock %}
       </div>
      <div if="#content">
        {% block content %}
        {% endblock %}
      </div>
      <br clear="both"/>
      <div id="back-link-container">
        <a href="javascript:history.back()" id="back-link">Back</a>
      </div>
    </div>
    {% block foot %}
    <footer>
      <div id="credits">
        <div>
          <img src="img/credits/ric-logo.png" width="24" height="24"/>
          A project of the
          <a href="https://radical.scot/">Radical Independence Campaign</a> ||
          Version {{version}}
        </div>
        <div>
          <img height="16" width="16" alt="Clojure" src="img/credits/luminus-logo.png"/>Built with <a href="http://www.luminusweb.net/">LuminusWeb</a> ||
          <img height="16" width="16" alt="Clojure" src="img/credits/clojure-icon.gif"/> Powered by <a href="http://clojure.org">Clojure</a> ||
          <img height="16" width="16" alt="GitHub" src="img/credits/github-logo-transparent.png"/>Find me/fork me on <a href="https://github.com/simon-brooke/smeagol">Github</a> ||
          <img height="16" width="16" alt="Free Software Foundation" src="img/credits/gnu.small.png"/>Licensed under the <a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU General Public License version 2.0</a>
        </div>
      </div>
    </footer>
    {% endblock %}
    {% endblock %}
    <script type="text/javascript">
        var context = "{{servlet-context}}";
        var csrfToken = "{{csrf-token}}";
        {% block extra-script %}
        {% endblock %}
    </script>
  </body>
</html>




