{% extends "base.html" %}
{% block content %}
      <p>
        Use this form to request someone to phone you to discuss your concerns about independence.
      </p>
      <form action="call-me" method="post">
        {% csrf-field %}
        <p class="widget">
          <label for="name">Your name</label>
          <input type="text" id="name" name="name"/>
        </p>
        <p class="widget">
          <label for="postcode">Your post-code</label>
          <input type="text" id="postcode" name="postcode"/>
        </p>
        <p class="widget">
          <label for="phone">Your phone number</label>
          <input type="text" id="phone" name="phone"/>
        </p>
        <p class="widget">
          <label for="concern">Your concerns</label>
          <select name="concern" id="concern">
            {% for concern in concerns %}
            <option>{{concern.id}}</option>
            {% endfor %}
          </select>
        </p>
        <p class="widget">
          <label for="submit">&nbsp;</label>
          <input name="submit" id="submit" type="submit" class="action" value="Call me!"/>
        </p>
      </form>
{% endblock %}
