<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/yyy-static.css" />
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Archivo+Narrow" rel="stylesheet"/>
    <title>You Yes Yet?</title>
  </head>
  <body>
    <header>
      <div id="nav">
        <img id="nav-icon" src="img/threelines.png" alt="Menu"/>
        <menu id="nav-menu" class="nav">
          <li class=""><a href="index.html">Home</a></li>
          <li class=""><a href="library.html">Library</a></li>
          <li class=""><a href="register.html">Register</a></li>
          <li class=""><a href="login.html">Login</a></li>
          <li class=""><a href="about.html">About</a></li>
        </menu>
      </div>

      <h1>
        You yes yet?
      </h1>
    </header>

    <div id="app">
      <div class="container-fluid">
        <div class="card-deck">
          <div class="card-block">
            <h4>Welcome to YouYesYet</h4>
            <p>If you're seeing this message, that means you haven't yet compiled your ClojureScript!</p>
            <p>Please run <code>lein figwheel</code> to start the ClojureScript compiler and reload the page.</p>
            <h4>For better ClojureScript development experience in Chrome follow these steps:</h4>
            <ul>
              <li>Open DevTools
              <li>Go to Settings ("three dots" icon in the upper right corner of DevTools > Menu > Settings F1 > General > Console)
              <li>Check-in "Enable custom formatters"
              <li>Close DevTools
              <li>Open DevTools
            </ul>
            <p>See <a href="http://www.luminusweb.net/docs/clojurescript.md">ClojureScript</a> documentation for further details.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- scripts and styles -->

    <script type="text/javascript">
        var context = "{{servlet-context}}";
        var csrfToken = "{{csrf-token}}";
    </script>
    {% script "/js/app.js" %}
  </body>
</html>




