{% extends "base-unauthenticated.html" %}
{% block content %}
      <div id="back-link-container">
        <a href="javascript:history.back()" id="back-link">Back</a>
      </div>
      {% for authority in authorities %}
      <div class="big-link-container">
        <a href="auth?authority={{authority.id}}" class="big-link" id="{{authority.id}}-link">
          <img src="img/authorities/{{authority.id}}.png" width="32" height="32" alt="{{authority.id}}"/>
          {{authority.id}}
        </a>
      </div>
      {% endfor %}
      <form action="auth" method="post">
        {% csrf-field %}
        <h2>
          Or use a test username and password
        </h2>
        <p>
          We're not going to do login in the long term; we're going to use
          <a href="https://oauth.net/2/">oauth</a>.
          This is a temporary login form.
        </p>
        <p class="widget">
          <label for="username">Username</label>
          <input type="text" id="username" name="username"/>
        </p>
        <p class="widget">
          <label for="password">Your password</label>
          <input type="password" id="password" name="password"/>
        </p>
        <p class="widget">
          <label for="submit">&nbsp;</label>
          <input name="submit" id="submit" type="submit" class="action" value="Log in!"/>
        </p>
      </form>
{% endblock %}
