{% extends "base-unauthenticated.html" %}
{% block content %}
      <p>
        We're not going to do login in the long term; we're going to use
        <a href="https://oauth.net/2/">oauth</a>.
        This is a temporary login form.
      </p>
      <form action="auth" method="post">
        {% csrf-field %}
        <p class="widget">
          <label for="username">Username</label>
          <input type="text" id="username" name="username"/>
        </p>
        <p class="widget">
          <label for="password">Your password</label>
          <input type="password" id="password" name="password"/>
        </p>
        <p class="widget">
          <label for="submit">&nbsp;</label>
          <input name="submit" id="submit" type="submit" class="action" value="Log in!"/>
        </p>
      </form>
{% endblock %}
