{% extends "base.html" %}
{% block big-links %}
      <div class="big-link-container">
        <a href="{{servlet-context}}/profile"
           class="big-link" id="profile-link">Your&nbsp;profile</a>
      </div>
      <div class="big-link-container">
        <a href="{{servlet-context}}/app"
           class="big-link" id="app-link">App</a>
      </div>
      <div class="big-link-container">
        <a href="https://steamie.projecthope.scot/"
           class="big-link" id="app-link">Steamie</a>
      </div>
{% endblock %}
